html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}

#root {
  height: 100%;
  width: 100%;
}

.text-light {
  color: #607580;
}
