html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

*::before,
*::after,
* {
  box-sizing: inherit;
}

body {
  background: linear-gradient(left, #00111A, #002233);
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.text-light {
  color: #607580;
}
